/*------ Global Settings------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    height: 100vh;
}

/* --- << Menu page >> --- */
.menu__header {
    justify-self: center;
    align-self: center;
}

.menu__title {
    font-size: 5vh;
    text-align: center;
    text-transform: uppercase;
}

.menu__incentive {
    text-align: center;
    padding-top: 2vh;
    color: black;
    font-weight: bold;
    font-size: 3vh;
}

.menu_main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    background-color: navy;
    height: 80%;
    margin-top: 2%;
}

.menu__link {
    width: 50rem;
    max-width: 90%;
    background-color: white;
    padding: 6vh;
    font-size: 5vh;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: var(--br);
    display: inline-block;
    cursor: pointer;
}

.menu__link:hover {
    background-color: #1570cd;
}

/* --- << Alphabet page >> --- */

/* Menu Button */
.header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.button__menu {
    justify-self: left;
    align-items: center;
    margin: 1rem;
}

.button__menu a {
    text-decoration: none;
    outline: none;
}

.btn__navigation--back {
    background-color: navy;
    padding: 2vh 3vw;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 4vh;
}

/* Alphabet Page Styling */

/* Card Styling */
.alphabet_holder {
    grid-column: 1/4;
    grid-row: 2/3;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    max-width: 40rem;
    height: 60vh;
    perspective: 60vw;
}

.alphabet {
    width: 100%;
    height: 100%;
    transition: transform 900ms;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.alphabet_main {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: var(--br);
}

.letter {
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    color: var(--clr-neutral-900);
    text-transform: uppercase;
    font-size: 2.5vh;
    text-align: center;
}

.image {
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 27vw;
}

img {
    display: block;
    height: 40vh;
    width: 100%;
    object-fit: contain;
}

/* Styling the Word*/
.english__word {
    margin-top: 2rem;
    margin-bottom: 7vh;
    padding: 1rem;
    font-size: 4vh;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-align: center;
}

.voice__name {
    padding-right: 1vw;
    font-weight: bold;
}

.voice__btn {
    width: 3vw;
    height: 3vh;
    position: relative;
}