/*------ Global Settings------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    height: 100vh;
}

/* --- << Menu page >> --- */
.menu__header {
    justify-self: center;
    align-self: center;
}

.menu__title {
    font-size: 5vh;
    text-align: center;
    text-transform: uppercase;
}

.menu__incentive {
    text-align: center;
    padding-top: 2vh;
    color: black;
    font-weight: bold;
    font-size: 3vh;
}

.menu_main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    background-color: navy;
    height: 80%;
    margin-top: 2%;
}

.menu__link {
    width: 50rem;
    max-width: 90%;
    background-color: white;
    padding: 3vh;
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.menu__link:hover {
    background-color: #1570cd;
}

.menu__next:focus {
    outline: 0;
}

/* --- << Alphabet page >> --- */

/* Menu Button */
.header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.button__menu {
    justify-self: left;
    align-items: center;
    margin: 1rem;
}

.button__menu a {
    text-decoration: none;
    outline: none;
}

.btn__navigation--back {
    background-color: navy;
    padding: 2vh 3vw;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 4vh;
}

/* Main Styling */
.alphabet_holder {
    grid-column: 1/4;
    grid-row: 2/3;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    max-width: 40rem;
    height: 70vh;
    perspective: 60vw;
}

.alphabet {
    width: 100%;
    height: 100%;
    transition: transform 900ms;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.alphabet_main {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.letter {
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    color: black;
    font-size: 4vh;
    text-align: center;
}

.image {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-left: 550px;
}

img {
    display: block;
    height: 25vh;
    width: 100%;
    object-fit: contain;
}

/* Styling the Word*/
.english__word {
    padding: 1rem;
    font-size: 4vh;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 250px;
}

/* Styling the Word's Audio*/
.voice__options {
    display: flex;
    padding: 1rem;
    font-size: 4vh;
    justify-content: space-evenly;
}

.voice__option {
    display: flex;
    margin: auto 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.voice__name {
    padding-right: 1vw;
    font-weight: bold;
    padding-left: 1vw;
}

.voice__btn {
    width: 3vw;
    height: 3vh;
    position: relative;
}

.voice__icon {
    font-size: 3vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 3vh;
}

/* Styling The Button Next Alphabet */
.button__holder {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.alphabet__next {
    background-color: navy;
    padding: 2vh 2vw;
    font-size: 3vh;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: var(--br);
    box-shadow: inset 0px 2px 0px 0px #1570cd;
    display: inline-block;
    cursor: pointer;
}

.alphabet__next:hover {
    background-color: #1570cd;
}

.alphabet__next:focus {
    outline: 0;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px)  {

    /* --- << Menu page >> --- */

    .menu__link {
        width: 40rem;
        min-width: 90%;
        background-color: white;
        padding: 5vh;
        font-size: 5vh;
        cursor: pointer;
    }

    /* Media for Alphabets */

    .alphabet_holder {
        width: 50vw;
        min-width: 80%;
        perspective: 50rem;
    }

    .letter {
        font-size: 5vh;
        padding: 0;
        align-self: center;
        justify-content: center;
        display: flex;
        margin-left: 15vh;
    }

    .voice__options {
        display: flex;
        padding: 5rem;
        font-size: 4vh;
        align-content: center;
        justify-content: center;
        margin-left: 15vh;
    }

    .image {
        width: 55vw;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Media for menu page */

    .menu__header {
        align-self: center;
    }

    .menu__title {
        font-size: 3rem;
    }

    .menu_alphabets {
        width: 65rem;
        padding-left: 240px;
    }

    .menu__link {
        width: 10rem;
        background-color: white;
        font-size: 3rem;
    }

    .alphabet_holder {
        width: 80vw;
        perspective: 50rem;
    }

    .letter {
        font-size: 2.5rem;
        padding: 2vh;
        margin-left: 40vh;
    }

    .image {
        width: 55vw;
    }

    .english__word {
        font-size: 2rem;
        letter-spacing: 1rem;
        padding-bottom: 0;
    }

    .voice__options {
        display: flex;
        padding: 0.4rem;
        font-size: 1.5rem;
        align-content: center;
        justify-content: space-evenly;
        margin-left: 40vh;
    }

    .voice__option {
        padding: 0.5rem;
        margin: 5vw;
    }


    .voice__name {
        padding-right: 3vw;
    }

    .voice__icon {
        font-size: 3vh;
    }

    .alphabet__next {
        padding: 1rem;
        font-size: 1.5rem;
        margin: 1rem
    }

}